$link: #3eadf0;
$hover: #0093ec;

$borderColor:#eaeaea;
$btnBgColor:#fff;
$btnFontColor:#aaa;
$borderSize:1px;

$black1: #000;
$black2: #aaa;
$black3:rgba(0,0,0,0.75);
$white1: #fff;

$tab: 800px;
$tab-small:600px;
$tab-big:800px;
$desktop:1024px;