@import "compass/reset";
@import "compass";
@import "mixin";
@import "variables";
@import "common";

.main-header{
	@include dimension(100%,60px);
	@include box-sizing(border-box);
	border-bottom: $borderSize solid $borderColor;
	position: relative;

	.nav-icon{
		@include inline-block;
		vertical-align: middle;
		line-height: 60px;
		padding-left: 1.4rem;
		padding-right: .88rem;
		.nav-icon-top{
			@include nav-icon(20px);
		}
		.nav-icon-middle{
			@include nav-icon(15px);
		}
		.nav-icon-bottom{
			@include nav-icon(10px);
		}

	}
	.search-icon{
		display: none;
		@media only screen and (min-width: $tab){
			@include inline-block;
			@include dimension(20px,22px);
			position: absolute;
			top: 16px;
			left: 50px;
		}
	}
	.main-heading{
		@include heading-font();
		@include inline-block;
		vertical-align: middle;
		line-height: 60px;
		letter-spacing: 2px;
		padding-right: 50px;
		position: relative;
		@media only screen and (min-width: $tab){
			margin-left: 29%;
			font-size: 2.3rem;
		}	
	}

	.btn-login{
		display: none;
		@media only screen and (min-width: $tab-small){
			@include inline-block;
			@include dimension(7rem,28px);
		    @include border-radius(5px);
			position: absolute;
			top: 17px;
			right: 15px;
		    background-color: $btnBgColor;
		    color: $btnFontColor;
		    border: $borderSize solid $borderColor;
		    padding-right: .8rem;
		    padding-left: .8rem;
		}
		&:hover{
			background-color: $hover;
			color: $white1;
		}
	}
}

.image-scroller{
	@include dimension(100%,auto);
	@include box-sizing(border-box);
	padding: 1.3rem  0 1.3rem 1.3rem;
	overflow-y: hidden;
	overflow-x:auto;
	white-space: nowrap;
	border-bottom: $borderSize solid $borderColor;
	article{
		margin-right: 1.3rem;
		width:70%;
		position: relative;
		@include inline-block;
		img{
			width:100%;
			height: auto;
		}
		h2{
			position: absolute;
			bottom: 0;
			left: 0;
			color: $white1;
			white-space: normal;
    		line-height: 22px;
    		font-family: 'Open Sans', sans-serif;
    		margin-bottom: 4px;
    		span{
			font-size: 18px;
			background-color: rgba(0,0,0,0.7);
			}
		}
		&:after {
		    content: '\A';
		    position: absolute;
		    width: 100%; height:99%;
		    top:0; left:0;
		    background:rgba(0,0,0,0.6);
		    opacity: 0;
		    transition: all .2s;
		}
		&:hover:after {
		    opacity: .4;
		}
		@media only screen and (min-width: $tab-small){
			width:54%;
		}
		@media only screen and (min-width: $tab-big){
			width:30.3%;
		}
		@media only screen and (min-width: $desktop){
			width:31.5%;
		}	
	}
}
	.subscription{
		height:95px;
		background-color: rgb(245, 245, 245);
		padding-top: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		position: relative;
		.close{
			display: inline-block;
			position: absolute;
			top: 5px;
			right: 5px;
			color: $black2;
		}
		h3{
			font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			font-size: 13px;
		}
		.submit-field{
			margin-top: 1rem;
			input{
				border:none;
				background-color: rgb(245, 245, 245);
				border-bottom: $black2 $borderSize solid;
				padding-bottom: .5rem;
				width: 70%;
			}
			button{
			    border-radius: 15px;
			    background-color: #0093ec;
			    color: $white1;
		        height: 30px;
    			line-height: 28px;
    			padding-left: 1rem;
    			padding-right: 1rem;
    			border:none;
			}
		}
		
	}
aside{
	display: none;
	@media only screen and (min-width: $desktop){
		width:34%;
		display: inline-block;
		padding-top: 2rem;
		padding-left:1rem;
		padding-right: 1rem;
		@include box-sizing(border-box);
		border-right: $borderSize solid $borderColor;
	}
	.related{
		padding-top: 2rem;
		.images-preview{
			font-size: 0;
			img{
				width: 33.2%;
				display: inline-block;

			}
		}
		.image-view{
			width: 100%;
			height: 170px;
			background-size: cover;
			background-image: url('https://i.kinja-img.com/gawker-media/image/upload/s--A3ICepgq--/c_fill,fl_progressive,g_north,h_180,q_80,w_320/nywucx9bcfcyauu7ieo2.png');
		}
	}
}

.articles-container{
	@media only screen and (min-width: $tab-small){
		padding: 0 1.1rem 0 1.1rem;
	}
	
	article{
		.article-header{
			padding: 0 1.1rem 0 1.1rem;
			@media only screen and (min-width: $tab-small){
				padding: 0;
			}
	
			margin-top: 2rem;
			margin-bottom: 1.5rem;
			h1{
				font-size: 24px;
				font-family: 'Oswald', sans-serif;
				line-height: 150%;
				margin-bottom: 1rem;
			}
			h1 a{
				text-decoration: none;
				color: $black1;
			}
			.article-author{
				@include inline-block;
				.author{
					display: block;
					color: $black3;
					margin-bottom: .3rem;
					font-size: 15px;
					@media only screen and (min-width: $tab-big){
						display: inline-block;
					}
				}
				.time{
					color: $black2;
					font-size: 13px;
					@media only screen and (min-width: $tab-big){
						display: inline-block;
					}
				}
			}
			.comment-rating{
				display: inline-block;
				float: right;
			}
			.comment{
				display: inline-block;
				@media only screen and (min-width: $tab-big){
					display: block;
				}
			}
			.rating{
				display: inline-block;
				margin-left: .5rem;
				@media only screen and (min-width: $tab-big){
					display: block;
					margin-left: 0;
					margin-top: .5rem;
				}
			}
			img{
				@include dimension(25px,25px);
			}
			span{
				display: block;
				color: $black2;
			}
		}
		.odd-img{
			width: 100%;
			@media only screen and (min-width: $tab-small){
				width:29%;
			}
		}
		.odd-para{
			margin: 0 1.1rem 0 1.1rem;
		    font-size: 18px;
			line-height: 1.7;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: $borderSize solid $borderColor;
			@media only screen and (min-width: $tab-small){
				display: inline-block;
				vertical-align: top;
				width: 60%;
				border:none;
			}
		}
		.even-img{
			width: 95%;
			
		}
		.even-para{
			margin: 0 1.1rem 0 1.1rem;
		    font-size: 18px;
			line-height: 1.7;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: $borderSize solid $borderColor;
			@media only screen and (min-width: $tab-small){
				border-bottom: none;
			}
		}
		@media only screen and (min-width: $tab-small){
			border-bottom: $borderSize solid $borderColor;
			margin-bottom: 2rem;
		}
	}
	@media only screen and (min-width: $desktop){
			width:60%;
			display: inline-block;
			vertical-align: top;
		}
	
}

footer{
	.footer-subscription{
		width:30%;
	}

}



