/* line 5, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/local/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_common.scss */
:hover {
  cursor: pointer;
}

/* line 7, ../sass/style.scss */
.main-header {
  width: 100%;
  height: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
/* line 13, ../sass/style.scss */
.main-header .nav-icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  line-height: 60px;
  padding-left: 1.4rem;
  padding-right: .88rem;
}
/* line 19, ../sass/style.scss */
.main-header .nav-icon .nav-icon-top {
  display: block;
  height: 1px;
  background: #000;
  margin-bottom: 5px;
  width: 20px;
}
/* line 22, ../sass/style.scss */
.main-header .nav-icon .nav-icon-middle {
  display: block;
  height: 1px;
  background: #000;
  margin-bottom: 5px;
  width: 15px;
}
/* line 25, ../sass/style.scss */
.main-header .nav-icon .nav-icon-bottom {
  display: block;
  height: 1px;
  background: #000;
  margin-bottom: 5px;
  width: 10px;
}
/* line 30, ../sass/style.scss */
.main-header .search-icon {
  display: none;
}
@media only screen and (min-width: 800px) {
  /* line 30, ../sass/style.scss */
  .main-header .search-icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 20px;
    height: 22px;
    position: absolute;
    top: 16px;
    left: 50px;
  }
}
/* line 40, ../sass/style.scss */
.main-header .main-heading {
  font-family: 'Nunito', sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  line-height: 60px;
  letter-spacing: 2px;
  padding-right: 50px;
  position: relative;
}
@media only screen and (min-width: 800px) {
  /* line 40, ../sass/style.scss */
  .main-header .main-heading {
    margin-left: 29%;
    font-size: 2.3rem;
  }
}
/* line 54, ../sass/style.scss */
.main-header .btn-login {
  display: none;
}
@media only screen and (min-width: 600px) {
  /* line 54, ../sass/style.scss */
  .main-header .btn-login {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 7rem;
    height: 28px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 17px;
    right: 15px;
    background-color: #fff;
    color: #aaa;
    border: 1px solid #eaeaea;
    padding-right: .8rem;
    padding-left: .8rem;
  }
}
/* line 69, ../sass/style.scss */
.main-header .btn-login:hover {
  background-color: #0093ec;
  color: #fff;
}

/* line 76, ../sass/style.scss */
.image-scroller {
  width: 100%;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.3rem  0 1.3rem 1.3rem;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea;
}
/* line 84, ../sass/style.scss */
.image-scroller article {
  margin-right: 1.3rem;
  width: 70%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 89, ../sass/style.scss */
.image-scroller article img {
  width: 100%;
  height: auto;
}
/* line 93, ../sass/style.scss */
.image-scroller article h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  white-space: normal;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 4px;
}
/* line 102, ../sass/style.scss */
.image-scroller article h2 span {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 107, ../sass/style.scss */
.image-scroller article:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all .2s;
}
/* line 116, ../sass/style.scss */
.image-scroller article:hover:after {
  opacity: .4;
}
@media only screen and (min-width: 600px) {
  /* line 84, ../sass/style.scss */
  .image-scroller article {
    width: 54%;
  }
}
@media only screen and (min-width: 800px) {
  /* line 84, ../sass/style.scss */
  .image-scroller article {
    width: 30.3%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 84, ../sass/style.scss */
  .image-scroller article {
    width: 31.5%;
  }
}

/* line 130, ../sass/style.scss */
.subscription {
  height: 95px;
  background-color: whitesmoke;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
/* line 137, ../sass/style.scss */
.subscription .close {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaa;
}
/* line 144, ../sass/style.scss */
.subscription h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
}
/* line 149, ../sass/style.scss */
.subscription .submit-field {
  margin-top: 1rem;
}
/* line 151, ../sass/style.scss */
.subscription .submit-field input {
  border: none;
  background-color: whitesmoke;
  border-bottom: #aaa 1px solid;
  padding-bottom: .5rem;
  width: 70%;
}
/* line 158, ../sass/style.scss */
.subscription .submit-field button {
  border-radius: 15px;
  background-color: #0093ec;
  color: #fff;
  height: 30px;
  line-height: 28px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
}

/* line 171, ../sass/style.scss */
aside {
  display: none;
}
@media only screen and (min-width: 1024px) {
  /* line 171, ../sass/style.scss */
  aside {
    width: 34%;
    display: inline-block;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #eaeaea;
  }
}
/* line 182, ../sass/style.scss */
aside .related {
  padding-top: 2rem;
}
/* line 184, ../sass/style.scss */
aside .related .images-preview {
  font-size: 0;
}
/* line 186, ../sass/style.scss */
aside .related .images-preview img {
  width: 33.2%;
  display: inline-block;
}
/* line 192, ../sass/style.scss */
aside .related .image-view {
  width: 100%;
  height: 170px;
  background-size: cover;
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--A3ICepgq--/c_fill,fl_progressive,g_north,h_180,q_80,w_320/nywucx9bcfcyauu7ieo2.png");
}

@media only screen and (min-width: 600px) {
  /* line 201, ../sass/style.scss */
  .articles-container {
    padding: 0 1.1rem 0 1.1rem;
  }
}
/* line 207, ../sass/style.scss */
.articles-container article .article-header {
  padding: 0 1.1rem 0 1.1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 600px) {
  /* line 207, ../sass/style.scss */
  .articles-container article .article-header {
    padding: 0;
  }
}
/* line 215, ../sass/style.scss */
.articles-container article .article-header h1 {
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  line-height: 150%;
  margin-bottom: 1rem;
}
/* line 221, ../sass/style.scss */
.articles-container article .article-header h1 a {
  text-decoration: none;
  color: #000;
}
/* line 225, ../sass/style.scss */
.articles-container article .article-header .article-author {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 227, ../sass/style.scss */
.articles-container article .article-header .article-author .author {
  display: block;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: .3rem;
  font-size: 15px;
}
@media only screen and (min-width: 800px) {
  /* line 227, ../sass/style.scss */
  .articles-container article .article-header .article-author .author {
    display: inline-block;
  }
}
/* line 236, ../sass/style.scss */
.articles-container article .article-header .article-author .time {
  color: #aaa;
  font-size: 13px;
}
@media only screen and (min-width: 800px) {
  /* line 236, ../sass/style.scss */
  .articles-container article .article-header .article-author .time {
    display: inline-block;
  }
}
/* line 244, ../sass/style.scss */
.articles-container article .article-header .comment-rating {
  display: inline-block;
  float: right;
}
/* line 248, ../sass/style.scss */
.articles-container article .article-header .comment {
  display: inline-block;
}
@media only screen and (min-width: 800px) {
  /* line 248, ../sass/style.scss */
  .articles-container article .article-header .comment {
    display: block;
  }
}
/* line 254, ../sass/style.scss */
.articles-container article .article-header .rating {
  display: inline-block;
  margin-left: .5rem;
}
@media only screen and (min-width: 800px) {
  /* line 254, ../sass/style.scss */
  .articles-container article .article-header .rating {
    display: block;
    margin-left: 0;
    margin-top: .5rem;
  }
}
/* line 263, ../sass/style.scss */
.articles-container article .article-header img {
  width: 25px;
  height: 25px;
}
/* line 266, ../sass/style.scss */
.articles-container article .article-header span {
  display: block;
  color: #aaa;
}
/* line 271, ../sass/style.scss */
.articles-container article .odd-img {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* line 271, ../sass/style.scss */
  .articles-container article .odd-img {
    width: 29%;
  }
}
/* line 277, ../sass/style.scss */
.articles-container article .odd-para {
  margin: 0 1.1rem 0 1.1rem;
  font-size: 18px;
  line-height: 1.7;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}
@media only screen and (min-width: 600px) {
  /* line 277, ../sass/style.scss */
  .articles-container article .odd-para {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    border: none;
  }
}
/* line 291, ../sass/style.scss */
.articles-container article .even-img {
  width: 95%;
}
/* line 295, ../sass/style.scss */
.articles-container article .even-para {
  margin: 0 1.1rem 0 1.1rem;
  font-size: 18px;
  line-height: 1.7;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}
@media only screen and (min-width: 600px) {
  /* line 295, ../sass/style.scss */
  .articles-container article .even-para {
    border-bottom: none;
  }
}
@media only screen and (min-width: 600px) {
  /* line 206, ../sass/style.scss */
  .articles-container article {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 201, ../sass/style.scss */
  .articles-container {
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }
}

/* line 320, ../sass/style.scss */
footer .footer-subscription {
  width: 30%;
}
